/* Page Background */
html, .requireUser {
  background: #57068C url("images/body_nyu_bg.png") left top repeat-x !important;
}
/* Header */
#top_banner {
	background:transparent url("images/nyu_logos.png") top center no-repeat !important;
	height:80px; 
} 

/* Links */
a,
a:link {  
	color:#57068c !important; 
}       
a:visited {  
	color:#3C1354 !important;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active { 
	color:#57068c !important;
}

.explore_nav .explore li a, 
.explore_nav .top_navigation li a,
.explore_nav .personal li a {
color: #fff !important;
}

/* Buttons */
.s3d-button {   
    background: url("images/button-sprite-5state_nyu.png") no-repeat scroll right -40px transparent;
}
.s3d-button:hover, .s3d-button-hover {
    background-position: right -120px;
}

.s3d-button::-moz-focus-inner {
    border: none; /* overrides extra padding in Firefox */
}
.s3d-button .s3d-button-inner {                                                                     
    background: url("images/button-sprite-5state_nyu.png") no-repeat scroll left top transparent;
} 

.s3d-button:hover .s3d-button-inner, .s3d-button-hover .s3d-button-inner {
    background-position: left -80px;
    color: #FFF;
}

html > body .s3d-button .s3d-button-inner {
    white-space: normal; /* only do the white-space fix on IE6 */
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    .s3d-button .s3d-button-inner {
        margin-top: -1px;
    }
}

.s3d-button-primary {
    background-position: right -200px;
}

.s3d-button-primary .s3d-button-inner {
    background-position: left -160px;
}

.s3d-button[disabled], .s3d-disabled {
    background-position: right -280px;
    cursor: default;
}

.s3d-button:hover[disabled], .s3d-disabled.s3d-button-hover {
    background-position: right -280px;
    cursor: default;
}

.s3d-button[disabled] .s3d-button-inner, .s3d-disabled .s3d-button-inner {
    background-position: left -240px;
}

.s3d-button:hover[disabled] .s3d-button-inner, .s3d-disabled.s3d-button-hover .s3d-button-inner  {
    background-position: left -240px;
}

.s3d-button-icon-right, .s3d-button-icon-left {
    display: block;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
}

.s3d-button-icon-right {
    background-position: right center;
    padding-right: 18px;
}

.s3d-button-icon-left {
    background-position: left center;
    padding-left: 18px;
}

/* Page Links */
.people .find_more_people a {
  background: url("images/arrow_right_sm2_nyu_purple.png") no-repeat scroll right center;	
	color:#57068c;
}

.myprofile_widget .profile .myprofile_name {
	color:#57068c !important;
}
a.s3d-action, .s3d-actions a:visited, 
.myprofile_widget .profile a.myprofile_name:visited,
.content_search a:visited,
a.directory_level_three_link:visited  
{
	color:#3C1354 !important;
}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a.jstree-clicked, 
#navigation_tree ul.jstree-no-dots li.jstree-open a.jstree-clicked, 
#navigation_tree ul.jstree-no-dots li.jstree-closed a.jstree-clicked  {
	color:#fff !important;
  background-color: #3C1354 !important;
  border: none;
}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a.jstree-hovered, 
#navigation_tree ul.jstree-no-dots li.jstree-open a.jstree-hovered, 
#navigation_tree ul.jstree-no-dots li.jstree-closed a.jstree-hovered {
	color: #3C1354 !important;
  background-color: #ddd !important;
  border: none;
} 
#user_link_menu li a {
  border: none;
  color:#fff !important;
}

#groupbasicinfo_add_another_location a {
	background: url("images/add_nyu_purple_icon.png") no-repeat 0% 50%;
}

/* Footer Links */
.footer_main .fixed-container {
background: none !important;
}
.footer_main .fixed-container a {
color:#bebebe !important;
} 
.footer_main .fixed-container  a:visited {
color:#888888 !important;
}
.footer_main .fixed-container a:hover {
color:#bebebe !important;
}

.footer_main .fixed-container  a:active {
color:#cccccc !important;
}  

/* Homepage elements */
.requireAnon {
background: #57068C url("images/body_nyu_home_bg.png") left top repeat-x !important;
}
/* Header */
.requireAnon #top_banner {
	background:transparent url("images/nyu_home_logo.png") top center no-repeat !important;
}
.header-title {
	float: left;
	display:inline;
	margin: 0;
	padding: 10px 0 0 0;  
}
.requireAnon .index-container {
	width: 975px !important;
}
.login-box {
	background: url("images/login-box_nyu_home_bg.png") no-repeat 0% 0%;
	clear: both;
	padding: 30px 20px; 
	height: 400px;  
	margin: 0 0 20px 0;
}
.header-byline {   
	color: #222;
	padding:0; 
	font-size: 1em;
	font-weight:normal;  
}
.header-byline h2 {
	color: #572d88;
	font-size: 30px;
	margin:0; 
} 
.header-byline p {
	font-weight:normal;
	font-size: 18px; 
}
.header-smallline {
	font-size: 21px; 
}
.preview-box {
	margin: 0px 40px 0px 40px;
	width: 545px;
}
.preview-box img {
	padding: 0px 0px 10px 0;
}
.homepage-header {
	width:290px; 
	padding:10px;
  float:left;
  display:inline;
}

.homepage-header p {    
	border-right:1px solid #ddd;
}
.homepage-header.last p {    
	border-right:0px solid #ddd;
} 
.footer_main {
	width: 975px !important; 
} 
#login-container {
  background: url("images/nyu_home_login-default.png") no-repeat 0% 0%;
  width:250px;
  height:168px;
  padding:20px;
}                      
.requireAnon .login-container-button { 
	margin-top:10px;
	border:none;
} 

#login-failed {
  margin-top: 0px;
}