/* Page Background */
html, .requireUser {
  background: #6e1e39 url("images/body_nyu_liberalstudies_bg.png") left top repeat-x !important;
}
/* Header */
#top_banner {
	background:transparent url("images/nyu_liberalstudies_logos.png") top center no-repeat !important;
	height:80px;
}
/* Buttons */
.s3d-button {
  background: url("images/button-sprite-5state_nyu.png") no-repeat scroll right -40px transparent;
}
.s3d-button:hover, .s3d-button-hover {
  background-position: right -120px;
}

.s3d-button::-moz-focus-inner {
  border: none; /* overrides extra padding in Firefox */
}
.s3d-button .s3d-button-inner {                                                                     
  background: url("images/button-sprite-5state_nyu.png") no-repeat scroll left top transparent;
} 

.s3d-button:hover .s3d-button-inner, .s3d-button-hover .s3d-button-inner {
  background-position: left -80px;
  color: #FFF;
}

html > body .s3d-button .s3d-button-inner {
  white-space: normal; /* only do the white-space fix on IE6 */
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
  .s3d-button .s3d-button-inner {
      margin-top: -1px;
  }
}

.s3d-button-primary {
  background-position: right -200px;
}

.s3d-button-primary .s3d-button-inner {
  background-position: left -160px;
}

.s3d-button[disabled], .s3d-disabled {
  background-position: right -280px;
  cursor: default;
}

.s3d-button:hover[disabled], .s3d-disabled.s3d-button-hover {
  background-position: right -280px;
  cursor: default;
}

.s3d-button[disabled] .s3d-button-inner, .s3d-disabled .s3d-button-inner {
  background-position: left -240px;
}

.s3d-button:hover[disabled] .s3d-button-inner, .s3d-disabled.s3d-button-hover .s3d-button-inner  {
  background-position: left -240px;
}

.s3d-button-icon-right, .s3d-button-icon-left {
  display: block;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: transparent;
}

.s3d-button-icon-right {
  background-position: right center;
  padding-right: 18px;
}

.s3d-button-icon-left {
  background-position: left center;
  padding-left: 18px;
}

/* Page Links */
a.s3d-action, .s3d-actions a, 
.explore_nav .explore a,
.myprofile_widget .profile a.myprofile_name,
.content_search a,
a.directory_level_three_link 
{
}
.people .find_more_people a {
  background: url("images/arrow_right_sm2_nyu_purple.png") no-repeat scroll right center;	
}

.myprofile_widget .profile .myprofile_name {
}
a.s3d-action, .s3d-actions a:visited, 
.explore_nav .explore a:visited,
.myprofile_widget .profile a.myprofile_name:visited,
.content_search a:visited,
a.directory_level_three_link:visited  
{
}

/* Footer Links */ 
.footer_main .fixed-container {
  background: none !important;
}

.footer_main .fixed-container a {
  color:#bebebe !important;
} 
.footer_main .fixed-container  a:visited {
	color:#888888 !important;
}
.footer_main .fixed-container a:hover {
	color:#bebebe !important;
}

.footer_main .fixed-container  a:active {
	color:#cccccc !important;
}        

/* Background shadows */
.fixed-container {
-webkit-box-shadow: #666 0px 4px 4px;
-moz-box-shadow: #666 0px 4px 4px;
box-shadow: #666 0px 4px 4px;
/* IE only */
background-color: #fff;
zoom: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=90, Strength=2) progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=270, Strength=2)";
filter: progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=90, Strength=2) progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=270, Strength=2);
}

/* Group page side menu colors and states */
#navigation_tree ul.jstree-no-dots li.jstree-leaf a, 
#navigation_tree ul.jstree-no-dots li.jstree-open a, 
#navigation_tree ul.jstree-no-dots li.jstree-closed a  {
  color: #9c0039 !important;
}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a.jstree-hovered, #navigation_tree ul.jstree-no-dots li.jstree-open a.jstree-hovered, #navigation_tree ul.jstree-no-dots li.jstree-closed a.jstree-hovered {
color: #9c0039 !important;
background-color: #dddddd !important;
border: none;
}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a.jstree-clicked, #navigation_tree ul.jstree-no-dots li.jstree-open a.jstree-clicked, #navigation_tree ul.jstree-no-dots li.jstree-closed a.jstree-clicked {
color: white !important;
background-color: #9c0039 !important;
border: none;
}

a.s3d-action, .s3d-actions a:visited, .myprofile_widget .profile a.myprofile_name:visited, .content_search a:visited, a.directory_level_three_link:visited {
color: #9c0039 !important;
}
.entity_header a,
.fl-widget .fl-widget-options ul li a,
.content_page_options li a {
  color: #9c0039 !important;
} 

