/* Main Styles */
#collections_main_container{margin:20px 0px; float:left; word-wrap:break-word;}
#collections_header{-moz-border-radius:6px 6px 0 0;-webkit-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;background-color:rgb(213,219,223);height:36px;padding:5px 5px 10px 10px;}
#collections_inner_container{-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;background-color:rgb(239,242,244);padding:2px;float:left;position:relative;width:640px;}
#collections_outer_container{background-color:rgb(213,219,223);float:left;position:relative;}
#collections_header h1{color:rgb(69,74,79);width:60%;float:left;position:relative;cursor:pointer;}
#collections_header h1:hover {text-decoration:underline;}
#collections_header div{float:right;margin-top:-2px;position:relative;text-align:right;width:31%;padding:2px;}
#collections_header div.expanded {border:1px solid #999; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; padding:1px;}
#collections_header div img {margin:3px 3px 0px 0px;}
#collections_header div span#choose_layout, #collections_header div button {float:left; margin-right:10px; position:relative; margin:1px 5px 0px 0px;}
/* Global Edit Styles */
.editable {background:url(/devwidgets/collectionsalbumview/images/edit_pencil.png) no-repeat top right; cursor:pointer;}
.editable:hover {background-color:#FFC;}
/* Layout Chooser */
#collections_header div span#choose_layout {height:16px; border:1px solid #aaa; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-top:1px; width:160px; padding:2px; background:url(/dev/_images/arrow_down_sm2.png) no-repeat scroll 150px 50% transparent; cursor:pointer;}
#collections_header div span#choose_layout a {float:left; margin-top:-1px; margin-left:4px; font-weight:bold;}
#collections_header div span#choose_layout a:hover {text-decoration:none;}
#collections_header_select_layout {-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;background-color:rgb(213,219,223);border-style:solid; border-color:#aaa; border-width:0px 1px 1px 1px;left:439px;position:absolute;top:-15px;width:164px;z-index:200;}
#collections_header_select_layout ul {float:left;margin:0;padding:5px 0 0;position:relative;width:100%;}
#collections_header_select_layout ul li {list-style:none inside none;padding-left:7px;margin-bottom:2px; font-size:11px;}
#collections_header_select_layout ul li:hover {background-color:rgb(30,108,150);color:#fff; cursor:pointer;}
#collections_header_select_layout ul li.selected {font-weight:bold;}
#collections_header div span#choose_layout span#chosen_layout {font-size:11px;}
/* All Album View */
#collections_albums{float:left;padding-left:0;padding-top:22px;position:relative;}
.albumCover{float:left;padding:20px;width:140px;height:220px;position:relative;margin:0 0 24px 24px;background-color:rgb(255,255,255);-moz-box-shadow:3px 3px 12px -5px rgb(120,120,120);-moz-border-radius:8px;-webkit-box-shadow:3px 3px 12px -5px rgb(120,120,120);-webkit-border-radius:8px;box-shadow:3px 3px 12px -5px rgb(120,120,120);border-radius:8px;cursor:pointer;}
.albumCover.hovered{background-color:rgb(245,245,245);}
.albumCover.clicked{background-color:rgb(235,235,235);-moz-box-shadow:inset 3px 3px 12px -5px rgb(120,120,120);-webkit-box-shadow:inset 3px 3px 12px -5px rgb(120,120,120);box-shadow:inset 3px 3px 12px -5px rgb(120,120,120);padding:22px 18px 18px 22px;overflow:hidden;}
.albumCover div.albumCoverImage{width:140px;height:105px;float:left;position:relative;}
.albumCover div.albumCoverImage img{max-width:140px;max-height:105px;float:left;}
.albumCover div.albumCoverTitle{color:#058EC4;font-weight:bold;font-size:14px;width:140px;float:left;position:relative; overflow:hidden;}
.albumCover div.albumCoverDescription {float:left;position:relative;width:140px;overflow:hidden;}
.albumCover.addAlbum {border:4px solid #bbb;background:url(/devwidgets/collectionsalbumview/images/add_icon.png) transparent 50% 50% no-repeat;height:210px;}
.albumCover.addAlbum.clicked {background:url(/devwidgets/collectionsalbumview/images/add_icon.png) transparent 51% 51% no-repeat;}
/* Single Album View */
.albumHero {-moz-border-radius:3px;-moz-box-shadow:3px 3px 12px -5px rgb(20,20,20);-webkit-border-radius:3px;-webkit-box-shadow:3px 3px 12px -5px rgb(20,20,20);border-radius:3px;box-shadow:3px 3px 12px -5px rgb(20,20,20);background-color:#fff;margin:20px;padding:10px 20px 20px 20px;width:560px;float:left;position:relative;}
.albumHead {float:left; width:100%;}
.albumImage {float:left; width:300px;height:200px; line-height:200px; text-align:center;}
.albumImage.editable {border:1px solid #ccc;}
.albumImage img {float:left; max-width:300px; max-height:200px;}
.albumImage div {width:300px; height:200px;}
.albumDesc {float:left; min-height:190px; width:236px;margin-left:10px;}
.albumDesc.editable {border:1px solid #ccc;}
.albumHead {width:100%; float:left; position:relative; min-height:40px;}
.albumHead div.albumTitleContainer {float:left; position:relative; width:400px; min-height:28px;}
.albumHead h1 {float:left; position:relative; width:350px;}
.albumHead div.configureAlbum {float:left; position:relative; width:155px;margin-top:-2px;padding:2px;text-align:right;}
.albumHead div.configureAlbum.expanded {border:1px solid #999; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; padding:1px;}
.albumHead img {margin:3px 3px 0 0;}
.albumHead button {float:left; position:relative;margin-top:2px;margin-bottom:2px;}
.albumCategories {float:left;position:relative;width:622px;margin-left:20px;}
.categoryHeader {margin:0px 0px 10px;float:left;position:relative;width:630px;height:20px;}
.categoryHeader h2 {float:left;position:relative;width:555px;margin:0;}
.categoryHeader div {float:left;position:relative;width:35px;text-align:right;}
.categoryPreview {float:left; margin-right:16px;height:180px;width:138px;position:relative;}
.categoryPreview div.categoryPreviewName {font-size:14px;color:#006E96; width:133px; float:left;font-weight:bold;position:relative;margin:5px 0px 0px 5px;}
.categoryPreview span.categoryPreviewItems {width:100%; float:left; font-size:12px;font-weight:bold;position:relative;margin-left:5px;}
.categoryCover {float:left; position:relative;height:118px; width:118px; -moz-border-radius:3px;-moz-box-shadow:3px 3px 12px -5px rgb(20,20,20);-webkit-border-radius:3px;-webkit-box-shadow:3px 3px 12px -5px rgb(20,20,20);border-radius:3px;box-shadow:3px 3px 12px -5px rgb(20,20,20); padding:10px;background-color:#fff; cursor:pointer; text-align:center;}
.categoryCover img {max-height:117px; max-width:117px; vertical-align:middle;}
.categoryPreview.hovered .categoryCover {background-color:rgb(245,245,245);}
.categoryPreview.clicked .categoryCover {background-color:rgb(235,235,235);-moz-box-shadow:inset 3px 3px 12px -5px rgb(120,120,120);-webkit-box-shadow:inset 3px 3px 12px -5px rgb(120,120,120);box-shadow:inset 3px 3px 12px -5px rgb(120,120,120);overflow:hidden;padding:12px 10px 10px 12px; height:116px; width:116px;}
/* Category/Item View */
#collections_albums_show_category h1 {margin:20px 0px 0px 20px; cursor:pointer;}
#collections_albums_show_category h1:hover {text-decoration:underline;}
#collections_albums_show_category div.categoryTitleContainer {margin:0; width:395px; height:30px; float:left; font-weight:bold;}
#collections_albums_show_category h2 {margin:0; width:353px; float:left; font-weight:bold;}
#collections_albums_show_category div.configureCategory {float:left; width:163px; text-align:right; margin-top:10px;margin-top:-2px;padding:2px;}
#collections_albums_show_category div.configureCategory.expanded {border:1px solid #999; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; padding:1px;}
#collections_albums_show_category div.configureCategory button {float:left; margin-top:2px;margin-bottom:2px;}
.itemsContainer { background-color:#fff; width:600px; margin:20px 0px 20px 20px; float:left; -moz-border-radius:3px;-moz-box-shadow:3px 3px 12px -5px rgb(20,20,20);-webkit-border-radius:3px;-webkit-box-shadow:3px 3px 12px -5px rgb(20,20,20);border-radius:3px;box-shadow:3px 3px 12px -5px rgb(20,20,20);}
.itemsContainerHead {height:40px;margin-left:20px;margin-top:10px;}
.itemsContainerHead img {margin:3px 3px 0 0;}
.scroll-pane { overflow: auto; width: 560px; height:148px; float:left; margin:10px 20px 20px 20px; border:1px solid #aaa;}
.scroll-content { width: 560px; float: left; background-color:#EFF2F4; margin:0; padding:0;}
.scroll-content-item { width: 125px; height: 148px; float: left; cursor:pointer;}
.scroll-content-item div.scrollItemContainer {width:95px; height:118px; padding:5px; margin:10px; float:left; background-color:#fff; -moz-border-radius:3px;-moz-box-shadow:3px 3px 12px -5px rgb(20,20,20);-webkit-border-radius:3px;-webkit-box-shadow:3px 3px 12px -5px rgb(20,20,20);border-radius:3px;box-shadow:3px 3px 12px -5px rgb(20,20,20);text-align:center;}
.scroll-content-item.hovered div.scrollItemContainer {background-color:rgb(245,245,245);}
.scroll-content-item.clicked div.scrollItemContainer {width:93px; height:116px; padding:7px 5px 5px 7px; background-color:rgb(235,235,235);-moz-box-shadow:inset 3px 3px 12px -5px rgb(120,120,120);-webkit-box-shadow:inset 3px 3px 12px -5px rgb(120,120,120);box-shadow:inset 3px 3px 12px -5px rgb(120,120,120);overflow:hidden;}
.scroll-content-item img {max-width:93px; max-height:93px; }
.scroll-content-item.addItem div.scrollItemContainer {background:url(/devwidgets/collectionsalbumview/images/add_icon.png) rgb(255,255,255) 50% 50% no-repeat;}
.scroll-content-item.addItem.hovered div.scrollItemContainer {background-color:rgb(245,245,245);}
.scroll-content-item.addItem.clicked div.scrollItemContainer {background-color:rgb(235,235,235);}
.scroll-content-item.selected {background-color:rgb(160,187,244);}
.scroll-content-item div.itemPreviewTitle {float:left;position:relative;width:90px;}
.itemHero {-moz-border-radius:3px;-moz-box-shadow:3px 3px 12px -5px rgb(20,20,20);-webkit-border-radius:3px;-webkit-box-shadow:3px 3px 12px -5px rgb(20,20,20);border-radius:3px;box-shadow:3px 3px 12px -5px rgb(20,20,20);background-color:#fff;margin:20px;padding:10px 20px 20px 20px;width:560px;float:left;position:relative;}
.itemHead {float:left; width:100%;min-height:40px;}
.itemHead div.itemTitleContainer { float:left; position:relative; width:410px; min-height:27px;}
.itemHead h1 { float:left; position:relative; width:368px; }
.itemHead div.configureItem {float:left; position:relative; width:145px;margin-top:-2px;padding:2px;text-align:right;}
.itemHead div.configureItem.expanded {border:1px solid #999; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; padding:1px;}
.itemHead img {margin:3px 3px 0 0;}
.itemHead button {float:left; margin-top:2px;margin-bottom:2px;}
.itemImage {float:left; width:300px;height:200px;line-height:200px; text-align:center;}
.itemImage img {max-width:300px; max-height:200px; vertical-align:middle;}
.itemDesc {float:left; width:245px; height:200px;margin-left:10px;}
.itemImage.editable, .itemDesc.editable{border:1px solid #ccc;}
/* Edit TinyMCE */
body#tinymce.mceContentBody p {font:13px/1.231 arial,helvetica,clean,sans-serif; font-family:Arial,Helvetica,sans-serif; font-size:11.7333px;color:#333333;line-height:140%;padding:2px 0 10px;margin-bottom:1em;}
.inlineEditBtn button {position:absolute;}