/* Page Background */
html, .requireUser {
background: #fff url("images/body_nyu_wagner_bg.png") left top repeat-x !important;
}
/* Header */
#top_banner {
	background:transparent url("images/nyu_wagner_logos.png") top center no-repeat !important;
	height:80px; 
}
 
/*.footer_main {
	background: url("images/nyu_wagner_footer.png") no-repeat 50% 100% !important;
}  
.footer_main .fixed-container {
background: #000 !important;
} 
*/

/* Top Naviagation changes */
#explore_nav_container { 
	background-color: #000 !important; 
}
.explore_nav { 
	background-color: #000 !important;
}
.explore_nav .explore .explore_nav_selected {
	padding-bottom: 0px !important;
}
.explore_nav .explore .explore_nav_selected a, 
.explore_nav .explore .explore_nav_selected span {
	background: url("images/topnav_nyu_wagner_hover_bg.gif") repeat !important;
}

/* Background shadow and top rounded corners */
.fixed-container {
-webkit-box-shadow: #666 0px 4px 4px;
-moz-box-shadow: #666 0px 4px 4px;
box-shadow: #666 0px 4px 4px;
/* IE only */
background-color: #fff;
zoom: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=90, Strength=2) progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=270, Strength=2)";
filter: progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=90, Strength=2) progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=270, Strength=2);
 
}
.header .fixed-container, 
.search-container .content_search .fixed-container {
background: white url("images/header_l_nyu_wagner.png") no-repeat 0% 0% !important;
}
.header .fixed-container .decor, 
.search-container .content_search .fixed-container .decor {
background: url("images/header_r_nyu_wagner.png") no-repeat 100% 0% !important;
}

/* Student name */
.entity_header a {
    color:#f68a33 !important;
}

/* Links */
a, a:link,
button.s3d-link-button {
	color:#4fb3cf !important; 
}       
a:visited {  
  color:#4fb3cf !important;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active { 
  color:#73bbe7 !important;
}

.explore_nav .explore li a, 
.explore_nav .top_navigation li a,
.explore_nav .personal li a {
color: #fff !important;
}

.explore_nav .explore li a.navigation_grey_link {
    color:#888 !important;
}

/* Buttons */
.s3d-button::-moz-focus-inner {
  border: none; /* overrides extra padding in Firefox */
}
.s3d-button:hover, .s3d-button:hover .s3d-button-inner {
  background-image: url("images/nyu_dashboard_sprite.png");
}

.myprofile_widget .profile .myprofile_name {
  color:#4fb3cf !important;
}
a.s3d-action, .s3d-actions a:visited, 
.myprofile_widget .profile a.myprofile_name:visited,
.content_search a:visited,
a.directory_level_three_link:visited  
{
  color:#4fb3cf !important;
} 
#user_link_menu li a {
  border: none;
  color:#fff !important;
}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a, 
#navigation_tree ul.jstree-no-dots li.jstree-open a, 
#navigation_tree ul.jstree-no-dots li.jstree-closed a {
color: #4fb3cf !important;

}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a.jstree-clicked, 
#navigation_tree ul.jstree-no-dots li.jstree-open a.jstree-clicked, 
#navigation_tree ul.jstree-no-dots li.jstree-closed a.jstree-clicked  {
  color:#fff !important;
  background-color: #f68a33 !important;
  border: none;
}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a.jstree-hovered, 
#navigation_tree ul.jstree-no-dots li.jstree-open a.jstree-hovered, 
#navigation_tree ul.jstree-no-dots li.jstree-closed a.jstree-hovered {
  color: #fff !important;
  background-color: #7e8083 !important;
  border: none;
}
