/* Page Background */
html, .requireUser {
  background: #6e1e39 url("images/body_nyu_liberalstudies_bg.png") left top repeat-x !important;
}
/* Header */
#top_banner {
	background:transparent url("images/nyu_liberalstudies_logos.png") top center no-repeat !important;
	height:80px;
}
/* Background shadows */
.fixed-container {
-webkit-box-shadow: #666 0px 4px 4px;
-moz-box-shadow: #666 0px 4px 4px;
box-shadow: #666 0px 4px 4px;
/* IE only */
background-color: #fff;
zoom: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=90, Strength=2) progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=270, Strength=2)";
filter: progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=90, Strength=2) progid:DXImageTransform.Microsoft.Shadow(color='#888888', Direction=270, Strength=2);
}

/* Group page side menu colors and states */
#navigation_tree ul.jstree-no-dots li.jstree-leaf a, 
#navigation_tree ul.jstree-no-dots li.jstree-open a, 
#navigation_tree ul.jstree-no-dots li.jstree-closed a  {
  color: #9c0039 !important;
}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a.jstree-hovered, #navigation_tree ul.jstree-no-dots li.jstree-open a.jstree-hovered, #navigation_tree ul.jstree-no-dots li.jstree-closed a.jstree-hovered {
color: #9c0039 !important;
background-color: #dddddd !important;
border: none;
}
#navigation_tree ul.jstree-no-dots li.jstree-leaf a.jstree-clicked, #navigation_tree ul.jstree-no-dots li.jstree-open a.jstree-clicked, #navigation_tree ul.jstree-no-dots li.jstree-closed a.jstree-clicked {
color: white !important;
background-color: #9c0039 !important;
border: none;
}

a.s3d-action, .s3d-actions a:visited, .myprofile_widget .profile a.myprofile_name:visited, .content_search a:visited, a.directory_level_three_link:visited {
color: #9c0039 !important;
}
.entity_header a,
.fl-widget .fl-widget-options ul li a,
.content_page_options li a {
  color: #9c0039 !important;
} 

